<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>웅진 베베북클럽</title>
	<link href="css/bulma.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<header class="sub">
		<div class="logo">
			<img src="./img/logo.png" alt="웅진 베베북클럽">
		</div>
		<div class="page-title">
			베베 발달 검진
		</div>
	</header>

	<!-- content -->
	<section class="content input-userInfo">
		<div class="container is-fluid">
			<form action="">
				<!-- input: name -->
				<div class="field">
					<label class="label">자녀 이름</label>
					<div class="control">
						<input v-model="userName" class="input" type="text" placeholder="이름을 입력하세요">
					</div>
				</div>

				<!-- input: birthday -->
				<div class="field">
					<label class="label">자녀 생년월일</label>
					<div class="field has-addons">
						<div class="control is-expanded">
							<input v-model="birthday" class="input" type="number" placeholder="예: 20191017">
						</div>
						<div class="control">
							<a class="button is-static">월령 :&nbsp;<b class="has-text-black">{{ age }}</b> 개월</a>
						</div>
					</div>
					<p v-if="!isValidAge" class="help is-danger">형식에 맞게 입력해주세요.</p>
					<p v-else class="help is-success">형식에 맞게 입력하셨습니다.</p>
				</div>

				<!-- input: agreement -->
				<div class="field">
					<h3>개인정보 수집 및 이용에 대한 안내</h3>
					<div class="agreement">
						<h4>1. 개인정보 수집·이용 동의</h4>
						<table class="table is-bordered">
							<thead>
								<tr>
									<th>항목</th>
									<th>목적</th>
									<th>기간</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>자녀 이름, 생년월일</td>
									<td>검진 결과 추출</td>
									<td>검사일로부터 6개월</td>
								</tr>
							</tbody>
						</table>
						<div class="checkboxs">
							<label class="checkbox">
								<input value="true" v-model="agreementCheck1" type="radio">
								<span>
									<b>동의</b>
								</span>
							</label>
							<label class="checkbox">
								<input value="false" v-model="agreementCheck1" type="radio">
								<span>
									<b>미동의</b>
								</span>
							</label>
						</div>
					</div>
					<div class="agreement">
						<h4>2. 만 14세 미만 아동의 개인정보 수집·이용에 대한 동의</h4>
						<div class="checkboxs">
							<label class="checkbox">
								<input value="true" v-model="agreementCheck2" type="radio">
								<span>
									<b>동의</b>
								</span>
							</label>
							<label class="checkbox">
								<input value="false" v-model="agreementCheck2" type="radio">
								<span>
									<b>미동의</b>
								</span>
							</label>
						</div>
					</div>
				</div>

				<!-- buttons -->
				<div class="buttons">
					<a @click="startTest" class="button is-danger is-fullwidth">
						<img src="./img/icon_start.png">검사시작
					</a>
				</div>
			</form>
		</div>
	</section>

	<!-- footer -->
	<section class="footter">
		<footer>
			<p>© WOONGJIN THINKBIG. All rights reserved.</p>
		</footer>
	</section>

	<script src="./js/vue.min.js"></script>
	<script>
		var app = new Vue({
			el: '.input-userInfo',
			data: {
				userName: '',
				birthday: '',
				age: '',
				agreementCheck1: '',
				agreementCheck2: '',
				isValidAge: false,
			},
			watch: {
				// 월령 계산 함수
				birthday() {
					var birthPattern = /^(19|20)\d{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[0-1])$/;
					if (birthPattern.test(this.birthday)) {
						this.isValidAge = true;
						const birth = new Date(this.birthday.substr(0, 4), this.birthday.substr(4, 2) - 1, this
							.birthday.substr(6, 2));
						const today = new Date();
						var dif = today - birth;
						var cDay = 24 * 60 * 60 * 1000;
						var cMonth = cDay * 30.44;
						this.age = parseInt(dif / cMonth);
					}else{
						this.isValidAge = false;
					}
				}
			},
			methods: {
				// 검사 시작 함수
				startTest() {
					if(this.userName === '') {
						alert('이름을 입력하세요');
					}else if(this.age === '') {
						alert('생년월일을 정확하게 입력하세요');
					}else if(this.agreementCheck1 === '' || this.agreementCheck2 === '') {
						alert('약관에 동의해 주세요');
					}else{
						// 검사시작(페이지이동)
						console.log(this.userName, this.age, this.agreementCheck1, this.agreementCheck2);
						location.href="./04_test.html";
					}
				}
			}
		})
	</script>
</body>

</html>